.gridcontainer {
  display: block;
}

@media (min-width: 768px) {
  .gridcontainer {
    display: inline-grid;
    grid-template-columns: auto auto;
  }

  .framedaerah {
    height: 520px;
  }
}

h2 {
  font-size: 2.5rem;
  position: relative;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

h2 span {
  background-color: white;
  padding-right: 0.5rem;
}

h3 {
  font-size: 1.8rem;
  position: relative;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

h3 span {
  background-color: white;
  padding-right: 0.5rem;
}

h2:hover {
  color: gray;
}

h3:hover {
  color: gray;
}

h2:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.68em;
  border-top: 1px solid rgb(102, 101, 101);
  z-index: -1;
}

h3:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.68em;
  border-top: 1px solid rgb(102, 101, 101);
  z-index: -1;
}

span.a {
  display: inline-block;
}

.district-head {
  background-color: white;
  padding-right: 1rem;
}

.kp-head {
  background-color: white;
  padding-right: 1rem;
}

.rotatemt {
  -moz-transform: transform 0.5s linear;
  -webkit-transform: transform 0.5s linear;
  transition: transform 0.5s linear;
  border-radius: 100%;
  border-style: solid;
  border-width: 0.05rem;
  border-color: black;
  padding-bottom: 0.1rem;
  height: 0.7em;
  width: 1em;
}

.rotatemt:hover {
  opacity: 65%;
  background-color: #cacaca;
}

.rotatemt.downmt {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: rotate(180deg);
}

.rotatej {
  -moz-transform: transform 0.5s linear;
  -webkit-transform: transform 0.5s linear;
  transition: transform 0.5s linear;
  border-radius: 100%;
  border-style: solid;
  border-width: 0.05rem;
  border-color: black;
  padding-bottom: 0.1rem;
  height: 0.7em;
  width: 1em;
}

.rotatej:hover {
  opacity: 65%;
  background-color: #cacaca;
}

.rotatej.downj {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: rotate(180deg);
}

.rotateag {
  -moz-transform: transform 0.5s linear;
  -webkit-transform: transform 0.5s linear;
  transition: transform 0.5s linear;
  border-radius: 100%;
  border-style: solid;
  border-width: 0.05rem;
  border-color: black;
  padding-bottom: 0.1rem;
  height: 0.7em;
  width: 1em;
}

.rotateag:hover {
  opacity: 65%;
  background-color: #cacaca;
}

.rotateag.downag {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: rotate(180deg);
}

.district-head {
  padding-right: 1em;
}

.rotatekpjasin {
  -moz-transform: transform 0.5s linear;
  -webkit-transform: transform 0.5s linear;
  transition: transform 0.5s linear;
  border-radius: 100%;
  border-style: solid;
  border-width: 0.05rem;
  border-color: black;
  padding-bottom: 0.1rem;
  height: 0.7em;
  width: 1em;
}

.rotatekpjasin:hover {
  opacity: 65%;
  background-color: #cacaca;
}

.rotatekpjasin.downjasin {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: rotate(180deg);
}

.rotatekpumbai {
  -moz-transform: transform 0.5s linear;
  -webkit-transform: transform 0.5s linear;
  transition: transform 0.5s linear;
  border-radius: 100%;
  border-style: solid;
  border-width: 0.05rem;
  border-color: black;
  padding-bottom: 0.1rem;
  height: 0.7em;
  width: 1em;
}

.rotatekpumbai:hover {
  opacity: 65%;
  background-color: #cacaca;
}

.rotatekpumbai.downumbai {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: rotate(180deg);
}

.rotatekpmerlimau {
  -moz-transform: transform 0.5s linear;
  -webkit-transform: transform 0.5s linear;
  transition: transform 0.5s linear;
  border-radius: 100%;
  border-style: solid;
  border-width: 0.05rem;
  border-color: black;
  padding-bottom: 0.1rem;
  height: 0.7em;
  width: 1em;
}

.rotatekpmerlimau:hover {
  opacity: 65%;
  background-color: #cacaca;
}

.rotatekpmerlimau.downmerlimau {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: rotate(180deg);
}

.rotatekpselandar {
  -moz-transform: transform 0.5s linear;
  -webkit-transform: transform 0.5s linear;
  transition: transform 0.5s linear;
  border-radius: 100%;
  border-style: solid;
  border-width: 0.05rem;
  border-color: black;
  padding-bottom: 0.1rem;
  height: 0.7em;
  width: 1em;
}

.rotatekpselandar:hover {
  opacity: 65%;
  background-color: #cacaca;
}

.rotatekpselandar.downselandar {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: rotate(180deg);
}

.jkp {
  display: none;
  translate: 0 -1vh;
  opacity: 0;

  transition-property: display overlay opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.jkp.jkpshow {
  display: block;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 -1vh;
  }
}

.kpjasinid {
  display: none;
  translate: 0 -1vh;
  opacity: 0;

  transition-property: display overlay opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.kpjasinid.kpjasinidshow {
  display: block;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 -1vh;
  }
}

.kpumbaiid {
  display: none;
  translate: 0 -1vh;
  opacity: 0;

  transition-property: display overlay opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.kpumbaiid.kpumbaiidshow {
  display: block;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 -1vh;
  }
}

.kpmerlimauid {
  display: none;
  translate: 0 -1vh;
  opacity: 0;

  transition-property: display overlay opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.kpmerlimauid.kpmerlimauidshow {
  display: block;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 -1vh;
  }
}

.kpselandarid {
  display: none;
  translate: 0 -1vh;
  opacity: 0;

  transition-property: display overlay opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.kpselandarid.kpselandaridshow {
  display: block;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 -1vh;
  }
}

.mtkp {
  display: none;
  translate: 0 -1vh;
  opacity: 0;

  transition-property: display overlay opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.mtkp.mtkpshow {
  display: block;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 -1vh;
  }
}

.agkp {
  display: none;
  translate: 0 -1vh;
  opacity: 0;

  transition-property: display overlay opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.agkp.agkpshow {
  display: block;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 -1vh;
  }
}

.daerahlinebreak {
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}
