/* section district data */

.gridcontainerjasin {
  display: none;
}

.gridcontainerjasin.gridcontainerjasinshow {
  display: block;
}

.daerahjcontrol {
  font-size: 24px;
  font-weight: 600;
}

.daerahjcontrol:hover {
  color: gray;
  cursor: pointer;
}

.gridcontainermelakatengah {
  display: none;
}

.gridcontainermelakatengah.gridcontainermelakatengahshow {
  display: block;
}

.daerahmtcontrol {
  font-size: 24px;
  font-weight: 600;
}

.daerahmtcontrol:hover {
  color: gray;
  cursor: pointer;
}

.gridcontaineralorgajah {
  display: none;
}

.gridcontaineralorgajah.gridcontaineralorgajahshow {
  display: block;
}

.daerahagcontrol {
  font-size: 24px;
  font-weight: 600;
}

.daerahagcontrol:hover {
  color: gray;
  cursor: pointer;
}

/* section resolution control */

@media (min-width: 2040px) {
  .gridcontainer {
    display: inline-grid;
    grid-template-columns: auto auto;
  }

  .framedaeraht {
    height: 570px;
  }

  .framekpt {
    height: 310px;
  }
}

@media (min-width: 768px) {
  .framedaeraht {
    width: 1000px;
  }

  .framedaeraht2 {
    width: 1500px;
  }

  .framedaerahc {
    width: 1000px;
  }

  .framedaerahc2 {
    width: 1500px;
  }

  .framekpt {
    width: 1000px;
  }

  .framekpt2 {
    width: 1500px;
  }

  .framekpc {
    width: 1000px;
  }

  .framekpc2 {
    width: 1500px;
  }
}

/* section general css */

.daerahlinebreak {
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

h1 {
  font-size: 2.5rem;
  position: relative;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-weight: bold;
  text-align: center;
}

.header {
  margin: auto;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}

h2 {
  font-size: 2rem;
  position: relative;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

h2 span {
  background-color: white;
  padding-right: 0.5rem;
}

h3 {
  font-size: 1.5rem;
  position: relative;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

h3 span {
  background-color: white;
  padding-right: 0.5rem;
}

h2:hover {
  color: gray;
}

h3:hover {
  color: gray;
}

h2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.68em;
  border-top: 1px solid rgb(102, 101, 101);
  z-index: -1;
}

h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.68em;
  border-top: 1px solid rgb(102, 101, 101);
  z-index: -1;
}

span.a {
  display: inline-block;
}

.district-head {
  background-color: white;
  padding-right: 1rem;
}

.kp-head {
  background-color: white;
  padding-right: 1rem;
}

/* section district arrow */

.rotatemt {
  -moz-transform: transform 0.5s linear;
  -webkit-transform: transform 0.5s linear;
  transition: transform 0.5s linear;
  border-radius: 100%;
  border-style: solid;
  border-width: 0.05rem;
  border-color: black;
  padding-bottom: 0.1rem;
  height: 0.7em;
  width: 1em;
}

.rotatemt:hover {
  opacity: 65%;
  background-color: #cacaca;
}

.rotatemt.downmt {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: rotate(180deg);
}

.rotatej {
  -moz-transform: transform 0.5s linear;
  -webkit-transform: transform 0.5s linear;
  transition: transform 0.5s linear;
  border-radius: 100%;
  border-style: solid;
  border-width: 0.05rem;
  border-color: black;
  padding-bottom: 0.1rem;
  height: 0.7em;
  width: 1em;
}

.rotatej:hover {
  opacity: 65%;
  background-color: #cacaca;
}

.rotatej.downj {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: rotate(180deg);
}

.rotateag {
  -moz-transform: transform 0.5s linear;
  -webkit-transform: transform 0.5s linear;
  transition: transform 0.5s linear;
  border-radius: 100%;
  border-style: solid;
  border-width: 0.05rem;
  border-color: black;
  padding-bottom: 0.1rem;
  height: 0.7em;
  width: 1em;
}

.rotateag:hover {
  opacity: 65%;
  background-color: #cacaca;
}

.rotateag.downag {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: rotate(180deg);
}

.district-head {
  padding-right: 1em;
}

/* section kp arrow jasin*/

.rotatekpjasin {
  -moz-transform: transform 0.5s linear;
  -webkit-transform: transform 0.5s linear;
  transition: transform 0.5s linear;
  border-radius: 100%;
  border-style: solid;
  border-width: 0.05rem;
  border-color: black;
  padding-bottom: 0.1rem;
  height: 0.7em;
  width: 1em;
}

.rotatekpjasin:hover {
  opacity: 65%;
  background-color: #cacaca;
}

.rotatekpjasin.downjasin {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: rotate(180deg);
}

.rotatekpumbai {
  -moz-transform: transform 0.5s linear;
  -webkit-transform: transform 0.5s linear;
  transition: transform 0.5s linear;
  border-radius: 100%;
  border-style: solid;
  border-width: 0.05rem;
  border-color: black;
  padding-bottom: 0.1rem;
  height: 0.7em;
  width: 1em;
}

.rotatekpumbai:hover {
  opacity: 65%;
  background-color: #cacaca;
}

.rotatekpumbai.downumbai {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: rotate(180deg);
}

.rotatekpmerlimau {
  -moz-transform: transform 0.5s linear;
  -webkit-transform: transform 0.5s linear;
  transition: transform 0.5s linear;
  border-radius: 100%;
  border-style: solid;
  border-width: 0.05rem;
  border-color: black;
  padding-bottom: 0.1rem;
  height: 0.7em;
  width: 1em;
}

.rotatekpmerlimau:hover {
  opacity: 65%;
  background-color: #cacaca;
}

.rotatekpmerlimau.downmerlimau {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: rotate(180deg);
}

.rotatekpselandar {
  -moz-transform: transform 0.5s linear;
  -webkit-transform: transform 0.5s linear;
  transition: transform 0.5s linear;
  border-radius: 100%;
  border-style: solid;
  border-width: 0.05rem;
  border-color: black;
  padding-bottom: 0.1rem;
  height: 0.7em;
  width: 1em;
}

.rotatekpselandar:hover {
  opacity: 65%;
  background-color: #cacaca;
}

.rotatekpselandar.downselandar {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: rotate(180deg);
}

.rotatekpsimpangbekoh {
  -moz-transform: transform 0.5s linear;
  -webkit-transform: transform 0.5s linear;
  transition: transform 0.5s linear;
  border-radius: 100%;
  border-style: solid;
  border-width: 0.05rem;
  border-color: black;
  padding-bottom: 0.1rem;
  height: 0.7em;
  width: 1em;
}

.rotatekpsimpangbekoh:hover {
  opacity: 65%;
  background-color: #cacaca;
}

.rotatekpsimpangbekoh.downsimpangbekoh {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: rotate(180deg);
}

/* section kp arrow melaka tengah*/

.rotatekpmelakatengah {
  -moz-transform: transform 0.5s linear;
  -webkit-transform: transform 0.5s linear;
  transition: transform 0.5s linear;
  border-radius: 100%;
  border-style: solid;
  border-width: 0.05rem;
  border-color: black;
  padding-bottom: 0.1rem;
  height: 0.7em;
  width: 1em;
}

.rotatekpmelakatengah:hover {
  opacity: 65%;
  background-color: #cacaca;
}

.rotatekpmelakatengah.downmelakatengah {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: rotate(180deg);
}

.rotatekpayerkeroh {
  -moz-transform: transform 0.5s linear;
  -webkit-transform: transform 0.5s linear;
  transition: transform 0.5s linear;
  border-radius: 100%;
  border-style: solid;
  border-width: 0.05rem;
  border-color: black;
  padding-bottom: 0.1rem;
  height: 0.7em;
  width: 1em;
}

.rotatekpayerkeroh:hover {
  opacity: 65%;
  background-color: #cacaca;
}

.rotatekpayerkeroh.downayerkeroh {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: rotate(180deg);
}

.rotatekpayermolek {
  -moz-transform: transform 0.5s linear;
  -webkit-transform: transform 0.5s linear;
  transition: transform 0.5s linear;
  border-radius: 100%;
  border-style: solid;
  border-width: 0.05rem;
  border-color: black;
  padding-bottom: 0.1rem;
  height: 0.7em;
  width: 1em;
}

.rotatekpayermolek:hover {
  opacity: 65%;
  background-color: #cacaca;
}

.rotatekpayermolek.downayermolek {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: rotate(180deg);
}

.rotatekpbatuberendam {
  -moz-transform: transform 0.5s linear;
  -webkit-transform: transform 0.5s linear;
  transition: transform 0.5s linear;
  border-radius: 100%;
  border-style: solid;
  border-width: 0.05rem;
  border-color: black;
  padding-bottom: 0.1rem;
  height: 0.7em;
  width: 1em;
}

.rotatekpbatuberendam:hover {
  opacity: 65%;
  background-color: #cacaca;
}

.rotatekpbatuberendam.downbatuberendam {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: rotate(180deg);
}

.rotatekpcheng {
  -moz-transform: transform 0.5s linear;
  -webkit-transform: transform 0.5s linear;
  transition: transform 0.5s linear;
  border-radius: 100%;
  border-style: solid;
  border-width: 0.05rem;
  border-color: black;
  padding-bottom: 0.1rem;
  height: 0.7em;
  width: 1em;
}

.rotatekpcheng:hover {
  opacity: 65%;
  background-color: #cacaca;
}

.rotatekpcheng.downcheng {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: rotate(180deg);
}

.rotatekpklebang {
  -moz-transform: transform 0.5s linear;
  -webkit-transform: transform 0.5s linear;
  transition: transform 0.5s linear;
  border-radius: 100%;
  border-style: solid;
  border-width: 0.05rem;
  border-color: black;
  padding-bottom: 0.1rem;
  height: 0.7em;
  width: 1em;
}

.rotatekpklebang:hover {
  opacity: 65%;
  background-color: #cacaca;
}

.rotatekpklebang.downklebang {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: rotate(180deg);
}

.rotatekpperinggit {
  -moz-transform: transform 0.5s linear;
  -webkit-transform: transform 0.5s linear;
  transition: transform 0.5s linear;
  border-radius: 100%;
  border-style: solid;
  border-width: 0.05rem;
  border-color: black;
  padding-bottom: 0.1rem;
  height: 0.7em;
  width: 1em;
}

.rotatekpperinggit:hover {
  opacity: 65%;
  background-color: #cacaca;
}

.rotatekpperinggit.downperinggit {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: rotate(180deg);
}

.rotatekpseritanjung {
  -moz-transform: transform 0.5s linear;
  -webkit-transform: transform 0.5s linear;
  transition: transform 0.5s linear;
  border-radius: 100%;
  border-style: solid;
  border-width: 0.05rem;
  border-color: black;
  padding-bottom: 0.1rem;
  height: 0.7em;
  width: 1em;
}

.rotatekpseritanjung:hover {
  opacity: 65%;
  background-color: #cacaca;
}

.rotatekpseritanjung.downseritanjung {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: rotate(180deg);
}

.rotatekptengkera {
  -moz-transform: transform 0.5s linear;
  -webkit-transform: transform 0.5s linear;
  transition: transform 0.5s linear;
  border-radius: 100%;
  border-style: solid;
  border-width: 0.05rem;
  border-color: black;
  padding-bottom: 0.1rem;
  height: 0.7em;
  width: 1em;
}

.rotatekptengkera:hover {
  opacity: 65%;
  background-color: #cacaca;
}

.rotatekptengkera.downtengkera {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: rotate(180deg);
}

.rotatekpujongpasir {
  -moz-transform: transform 0.5s linear;
  -webkit-transform: transform 0.5s linear;
  transition: transform 0.5s linear;
  border-radius: 100%;
  border-style: solid;
  border-width: 0.05rem;
  border-color: black;
  padding-bottom: 0.1rem;
  height: 0.7em;
  width: 1em;
}

.rotatekpujongpasir:hover {
  opacity: 65%;
  background-color: #cacaca;
}

.rotatekpujongpasir.downujongpasir {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: rotate(180deg);
}

.rotatekputc {
  -moz-transform: transform 0.5s linear;
  -webkit-transform: transform 0.5s linear;
  transition: transform 0.5s linear;
  border-radius: 100%;
  border-style: solid;
  border-width: 0.05rem;
  border-color: black;
  padding-bottom: 0.1rem;
  height: 0.7em;
  width: 1em;
}

.rotatekputc:hover {
  opacity: 65%;
  background-color: #cacaca;
}

.rotatekputc.downutc {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: rotate(180deg);
}

/* section kp arrow alor gajah*/

.rotatekpalorgajah {
  -moz-transform: transform 0.5s linear;
  -webkit-transform: transform 0.5s linear;
  transition: transform 0.5s linear;
  border-radius: 100%;
  border-style: solid;
  border-width: 0.05rem;
  border-color: black;
  padding-bottom: 0.1rem;
  height: 0.7em;
  width: 1em;
}

.rotatekpalorgajah:hover {
  opacity: 65%;
  background-color: #cacaca;
}

.rotatekpalorgajah.downalorgajah {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: rotate(180deg);
}

.rotatekpduriantunggal {
  -moz-transform: transform 0.5s linear;
  -webkit-transform: transform 0.5s linear;
  transition: transform 0.5s linear;
  border-radius: 100%;
  border-style: solid;
  border-width: 0.05rem;
  border-color: black;
  padding-bottom: 0.1rem;
  height: 0.7em;
  width: 1em;
}

.rotatekpduriantunggal:hover {
  opacity: 65%;
  background-color: #cacaca;
}

.rotatekpduriantunggal.downduriantunggal {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: rotate(180deg);
}

.rotatekpkualasungaibaru {
  -moz-transform: transform 0.5s linear;
  -webkit-transform: transform 0.5s linear;
  transition: transform 0.5s linear;
  border-radius: 100%;
  border-style: solid;
  border-width: 0.05rem;
  border-color: black;
  padding-bottom: 0.1rem;
  height: 0.7em;
  width: 1em;
}

.rotatekpkualasungaibaru:hover {
  opacity: 65%;
  background-color: #cacaca;
}

.rotatekpkualasungaibaru.downkualasungaibaru {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: rotate(180deg);
}

.rotatekpmasjidtanah {
  -moz-transform: transform 0.5s linear;
  -webkit-transform: transform 0.5s linear;
  transition: transform 0.5s linear;
  border-radius: 100%;
  border-style: solid;
  border-width: 0.05rem;
  border-color: black;
  padding-bottom: 0.1rem;
  height: 0.7em;
  width: 1em;
}

.rotatekpmasjidtanah:hover {
  opacity: 65%;
  background-color: #cacaca;
}

.rotatekpmasjidtanah.downmasjidtanah {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: rotate(180deg);
}

.rotatekprembia {
  -moz-transform: transform 0.5s linear;
  -webkit-transform: transform 0.5s linear;
  transition: transform 0.5s linear;
  border-radius: 100%;
  border-style: solid;
  border-width: 0.05rem;
  border-color: black;
  padding-bottom: 0.1rem;
  height: 0.7em;
  width: 1em;
}

.rotatekprembia:hover {
  opacity: 65%;
  background-color: #cacaca;
}

.rotatekprembia.downrembia {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: rotate(180deg);
}

/* section frame kp jasin */

.jkp {
  display: none;
  translate: 0 -1vh;
  opacity: 0;

  transition-property: display overlay opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.jkp.jkpshow {
  display: block;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 -1vh;
  }
}

.kpjasinid {
  display: none;
  translate: 0 -1vh;
  opacity: 0;

  transition-property: display overlay opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.kpjasinid.kpjasinidshow {
  display: block;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 -1vh;
  }
}

.kpumbaiid {
  display: none;
  translate: 0 -1vh;
  opacity: 0;

  transition-property: display overlay opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.kpumbaiid.kpumbaiidshow {
  display: block;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 -1vh;
  }
}

.kpmerlimauid {
  display: none;
  translate: 0 -1vh;
  opacity: 0;

  transition-property: display overlay opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.kpmerlimauid.kpmerlimauidshow {
  display: block;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 -1vh;
  }
}

.kpselandarid {
  display: none;
  translate: 0 -1vh;
  opacity: 0;

  transition-property: display overlay opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.kpselandarid.kpselandaridshow {
  display: block;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 -1vh;
  }
}

.kpsimpangbekohid {
  display: none;
  translate: 0 -1vh;
  opacity: 0;

  transition-property: display overlay opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.kpsimpangbekohid.kpsimpangbekohidshow {
  display: block;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 -1vh;
  }
}

/* section frame kp melaka tengah */

.mtkp {
  display: none;
  translate: 0 -1vh;
  opacity: 0;

  transition-property: display overlay opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.mtkp.mtkpshow {
  display: block;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 -1vh;
  }
}

.kpmelakatengahid {
  display: none;
  translate: 0 -1vh;
  opacity: 0;

  transition-property: display overlay opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.kpmelakatengahid.kpmelakatengahidshow {
  display: block;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 -1vh;
  }
}

.kpayerkerohid {
  display: none;
  translate: 0 -1vh;
  opacity: 0;

  transition-property: display overlay opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.kpayerkerohid.kpayerkerohidshow {
  display: block;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 -1vh;
  }
}

.kpayermolekid {
  display: none;
  translate: 0 -1vh;
  opacity: 0;

  transition-property: display overlay opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.kpayermolekid.kpayermolekidshow {
  display: block;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 -1vh;
  }
}

.kpbatuberendamid {
  display: none;
  translate: 0 -1vh;
  opacity: 0;

  transition-property: display overlay opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.kpbatuberendamid.kpbatuberendamidshow {
  display: block;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 -1vh;
  }
}

.kpchengid {
  display: none;
  translate: 0 -1vh;
  opacity: 0;

  transition-property: display overlay opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.kpchengid.kpchengidshow {
  display: block;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 -1vh;
  }
}

.kpklebangid {
  display: none;
  translate: 0 -1vh;
  opacity: 0;

  transition-property: display overlay opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.kpklebangid.kpklebangidshow {
  display: block;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 -1vh;
  }
}

.kpperinggitid {
  display: none;
  translate: 0 -1vh;
  opacity: 0;

  transition-property: display overlay opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.kpperinggitid.kpperinggitidshow {
  display: block;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 -1vh;
  }
}

.kpseritanjungid {
  display: none;
  translate: 0 -1vh;
  opacity: 0;

  transition-property: display overlay opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.kpseritanjungid.kpseritanjungidshow {
  display: block;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 -1vh;
  }
}

.kptengkeraid {
  display: none;
  translate: 0 -1vh;
  opacity: 0;

  transition-property: display overlay opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.kptengkeraid.kptengkeraidshow {
  display: block;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 -1vh;
  }
}

.kpujongpasirid {
  display: none;
  translate: 0 -1vh;
  opacity: 0;

  transition-property: display overlay opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.kpujongpasirid.kpujongpasiridshow {
  display: block;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 -1vh;
  }
}

.kputcid {
  display: none;
  translate: 0 -1vh;
  opacity: 0;

  transition-property: display overlay opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.kputcid.kputcidshow {
  display: block;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 -1vh;
  }
}

/* section frame kp alor gajah */

.agkp {
  display: none;
  translate: 0 -1vh;
  opacity: 0;

  transition-property: display overlay opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.agkp.agkpshow {
  display: block;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 -1vh;
  }
}

.kpalorgajahid {
  display: none;
  translate: 0 -1vh;
  opacity: 0;

  transition-property: display overlay opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.kpalorgajahid.kpalorgajahidshow {
  display: block;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 -1vh;
  }
}

.kpduriantunggalid {
  display: none;
  translate: 0 -1vh;
  opacity: 0;

  transition-property: display overlay opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.kpduriantunggalid.kpduriantunggalidshow {
  display: block;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 -1vh;
  }
}

.kpkualasungaibaruid {
  display: none;
  translate: 0 -1vh;
  opacity: 0;

  transition-property: display overlay opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.kpkualasungaibaruid.kpkualasungaibaruidshow {
  display: block;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 -1vh;
  }
}

.kpmasjidtanahid {
  display: none;
  translate: 0 -1vh;
  opacity: 0;

  transition-property: display overlay opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.kpmasjidtanahid.kpmasjidtanahidshow {
  display: block;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 -1vh;
  }
}

.kprembiaid {
  display: none;
  translate: 0 -1vh;
  opacity: 0;

  transition-property: display overlay opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.kprembiaid.kprembiaidshow {
  display: block;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 -1vh;
  }
}
